.activites{

	padding: 0 15%;

	@media (max-width:500px){
		display: none;
	}

	h2{
		margin-bottom: 80px;
	}

	.intro{
		text-align: center;
		display: block;
		margin: auto;
		margin-bottom: 80px;
		width: 80%;
	}

	.list-buttons{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 100px;
		margin-left: 50px;

		

		.button-description{
			background-color: #EC7F00 ;
			border: none;
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			padding: 20px 60px;
			clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
			cursor: pointer;
			transition-duration: 0.5s;
			font-size: 21px;
			outline: none;

			&:first-child{
				color: #EC7F00;
				background-color: white;
			}

			&:hover{
				color: #EC7F00;
				background-color: white;
				transition-duration: 0.5s;
			}
		}
	}

	.div-description{
		margin-bottom: 40px;
		width: 350px;
		display: block;
		margin: auto;
		height: 300px;
		position: relative;
		overflow: hidden;

		.description{
			text-align: justify;
			width: 350px;
			position: absolute;
			top: 0;
			left: -400px;

			&:first-child{
				left: 0;
			}
		}

		.tabulation{
			position: absolute;
			bottom: 0;
			left: 150px;
			display: flex;
			flex-direction: row;
			justify-content: center;
	
			.bulle{
				width: 10px;
				height: 10px;
				clip-path: circle(50% at 50% 50%);
				background-color: #C4C4C4;

				&:first-child{
					background-color: #EC7F00;
				}
	
				&:nth-child(2){
					margin: 0 10px;
				}
			}
		}
	}
	
}