.activites{

	padding: 0 20%;

	h2{
		margin-bottom: 80px;
	}

	.intro{
		text-align: center;
		width: 60%;
		display: block;
		margin: auto;
		margin-bottom: 80px;
	}

	.list-buttons{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 100px;

		button{
			background-color: #EC7F00 ;
			border: none;
			color: white;
			font-weight: bold;
			text-transform: uppercase;
			padding: 15px 50px;
			clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
			cursor: pointer;
			transition-duration: 0.5s;

			&:hover{
				color: #EC7F00;
				background-color: white;
				transition-duration: 0.5s;
			}
		}
	}

	.description{
		width: 350px;
		display: block;
		margin: auto;
	}
}