.contact{

	background-color: black;
	padding: 50px 0;
	margin-bottom: 0;

	h2{
		color: white;
	}

	.intro{
		text-align: center;
		margin-bottom: 80px;
		color: white;
	}

	.links{
		display: flex;
		flex-direction: row;
		justify-content: center;

		a{
			text-decoration: none;
		}

		div{
			color: white;
			background-color: #EC7F00;
			font-weight: bold;
			padding: 15px;
			margin: 0 40px;

			&:hover{
				color: #EC7F00;
				background-color: white;
				transition-duration: 0.5s;
			}

			&:first-child{
				margin-left: 0;
			}
		}
	}
}