header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: url("../images/background-header.jpg");
	background-size: cover;
	height: 100vh;
	padding: 50px 50px 0 50px;
	margin-bottom: 90px;

	h1{
		margin: 0;
		padding: 0;
	}
	
	nav{
		width: 50%;
	}
	
	ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin: 0;
		padding: 0;
	
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 21px;
		list-style: none;
	}

	li{
		cursor: pointer;
	}
}



