html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section{
  margin-bottom: 90px;
}

h2{
  text-align: center;
  border-bottom: solid #EC7F00 5px;
  width: fit-content;
  display: block;
  margin: auto;
  margin-bottom: 85px;
  text-transform: uppercase;
}
